.left
  .sticky
    .header
      %p
        検索条件
      .subIcon
        = link_to root_path do
          %i.fa.fa-file-text
    .body
      .pulldown.job
        %span
          = link_to "エンジニア"
      .pulldown.hiringType
        %span
          = link_to "中途採用"
      .search-box
        .form
          =fa_icon 'search', class: 'icon-search'
          %input{ type: "text", name: "job-search", class: "add-item", placeholder: "地域や特徴などの条件を追加", size: "30px" }
      .search-job
        %ul
          %li
            = link_to "Swift"
          %li
            = link_to "データサイエンティスト"
          %li
            = link_to "AWS"
          %li
            = link_to "フロントエンド"
      .field
        %p
          分野
        .field__items
          %ul
            %li
              = link_to "Webエンジニア"
            %li
              = link_to "モバイルエンジニア"
            %li
              = link_to "インフラエンジニア"
      .region
        %p
          地域
        .region__items
          %ul
            %li
              = link_to "北海道・東北"
            %li
              = link_to "関東"
            %li.add
              = link_to "さらに表示"
      .character
        %p
          特徴
        .character__items
          %ul
            %li
              = link_to "TechCrunchに掲載実績あり"
            %li
              = link_to "海外進出している"
            %li
              = link_to "１億円以上の資金を調達済み"
            %li.add
              = link_to "さらに表示"
