%body
  .main-view
    = render 'shared/header'
    .contents
      .carousel
        .slick-box
          %ul.slider
            %li
              = link_to image_tag "cat1.jpg", size: "150px", alt: ""
            %li
              = link_to image_tag "IMG_0386.jpg", size: "150px", alt: ""
            %li
              = link_to image_tag "cat1.jpg", size: "150px", alt: ""
            %li
              = link_to image_tag "IMG_0386.jpg", size: "150px", alt: ""
            %li
              = link_to image_tag "cat1.jpg", size: "150px", alt: ""
      .main
        .left
          .sticky
            .header
              %p
                検索条件
              .subIcon
                = link_to root_path do
                  %i.fa.fa-file-text
            .body
              .pulldown.job
                %span
                  = link_to "エンジニア"
              .pulldown.hiringType
                %span
                  = link_to "中途採用"
              .search-box
                .form
                  =fa_icon 'search', class: 'icon-search'
                  %input{ type: "text", name: "job-search", class: "add-item", placeholder: "地域や特徴などの条件を追加", size: "30px" }
              .search-job
                %ul
                  %li
                    = link_to "Swift"
                  %li
                    = link_to "データサイエンティスト"
                  %li
                    = link_to "AWS"
                  %li
                    = link_to "フロントエンド"
              .field
                %p
                  分野
                .field__items
                  %ul
                    %li
                      = link_to "Webエンジニア"
                    %li
                      = link_to "モバイルエンジニア"
                    %li
                      = link_to "インフラエンジニア"
              .region
                %p
                  地域
                .region__items
                  %ul
                    %li
                      = link_to "北海道・東北"
                    %li
                      = link_to "関東"
                    %li.add
                      = link_to "さらに表示"
              .character
                %p
                  特徴
                .character__items
                  %ul
                    %li
                      = link_to "TechCrunchに掲載実績あり"
                    %li
                      = link_to "海外進出している"
                    %li
                      = link_to "１億円以上の資金を調達済み"
                    %li.add
                      = link_to "さらに表示"
        .right
          .nav
            %p
              10/8000
            .nav__genre
              %p
                並び替え
              %ul
                %li
                  = link_to "おすすめ", root_path
                %li
                  = link_to "新着", root_path
                %li
                  = link_to "人気", root_path
          .items
            .item
              .item__image
              .item__occupation
                %span
                  エンジニア
              .item__catch-copy
                %h1
                  今挑戦するからこそ、将来価値のある人材に成長するエンジニア採用
              .item__sentence
                %p
                  エンジニア（フロントエンド） ◎業務内容 ・THEO および、関連するサービスのWeb フロントエンドの構築 ・Vue.js, React 等を使用した、SPA(Single Page Application) の実装 ・
              .item__company-image
                = link_to image_tag("#", alt: "image", height: "50px"), root_path
              .item__company-name
                %p
                  株式会社お金のデザイン
              .item__action
                .date
                  %i.fa.fa-clock-o
                  %p
                    29日前
                .icon
                  = link_to root_path do
                    %i.fa.fa-bookmark-o
                  = link_to root_path do
                    %i.fa.fa-bullhorn
            .item
              .item__image
              .item__occupation
                %span
                  エンジニア
              .item__catch-copy
                %h1
                  今挑戦するからこそ、将来価値のある人材に成長するエンジニア採用
              .item__sentence
                %p
                  エンジニア（フロントエンド） ◎業務内容 ・THEO および、関連するサービスのWeb フロントエンドの構築 ・Vue.js, React 等を使用した、SPA(Single Page Application) の実装 ・
              .item__company-image
                = link_to image_tag("#", alt: "image", height: "50px"), root_path
              .item__company-name
                %p
                  株式会社お金のデザイン
              .item__action
                .date
                  %i.fa.fa-clock-o
                  %p
                    29日前
                .icon
                  = link_to root_path do
                    %i.fa.fa-bookmark-o
                  = link_to root_path do
                    %i.fa.fa-bullhorn
            .item
              .item__image
              .item__occupation
                %span
                  エンジニア
              .item__catch-copy
                %h1
                  今挑戦するからこそ、将来価値のある人材に成長するエンジニア採用
              .item__sentence
                %p
                  エンジニア（フロントエンド） ◎業務内容 ・THEO および、関連するサービスのWeb フロントエンドの構築 ・Vue.js, React 等を使用した、SPA(Single Page Application) の実装 ・
              .item__company-image
                = link_to image_tag("#", alt: "image", height: "50px"), root_path
              .item__company-name
                %p
                  株式会社お金のデザイン
              .item__action
                .date
                  %i.fa.fa-clock-o
                  %p
                    29日前
                .icon
                  = link_to root_path do
                    %i.fa.fa-bookmark-o
                  = link_to root_path do
                    %i.fa.fa-bullhorn
          .order
            %ul
              %li
                1
              %li
                2
              %li
                3
              %li
                4
              %li
                5
              %li
                …
            %p
              次へ
    = render 'shared/footer'
