%body
  .main-view
    = render 'shared/header'
    .contents
      .carousel
        .slick-box
          %ul.slider
            %li
              = link_to image_tag "wantedly22b.png", size: "150px", alt: ""
            %li
              = link_to image_tag "wantedly22b.png", size: "150px", alt: ""
      .main
        = render 'projects/index/index-left'
        = render 'projects/index/index-right'
    = render 'shared/footer'
