%body
  .main-view
    = render 'shared/header'
    .contents
      .contents__carousel
        %p
          カルーセル実装予定
      .contents__main
        .contents__main__left
          .left__search
          .left__field
          .left__region
          .left__character
        .contents__main__right
          .contents__main__right__nav
            %p
              10/8000
            .contents__main__right__nav__genre
              %p
                並び替え
              %ul
                %li
                  = link_to "おすすめ", root_path
                %li
                  = link_to "新着", root_path
                %li
                  = link_to "人気", root_path
          .contents__main__right__item
            .contents__main__right__item__category
              .cover-image
              .occupation
                %span
                  エンジニア
              .catch-copy
                %h1
                  今挑戦するからこそ、将来価値のある人材に成長するエンジニア採用
              .sentence
                %p
                  エンジニア（フロントエンド） ◎業務内容 ・THEO および、関連するサービスのWeb フロントエンドの構築 ・Vue.js, React 等を使用した、SPA(Single Page Application) の実装 ・
              .profile-image
                = link_to image_tag("#", alt: "image", height: "50px"), root_path
              .company-name
                %p
                  株式会社お金のデザイン
              .action
                .date
                  %i.fa.fa-clock-o
                  %p
                    29日前
                .icon
                  = link_to root_path do
                    %i.fa.fa-bookmark-o
                  = link_to root_path do
                    %i.fa.fa-bullhorn
            .contents__main__right__item__category
              .cover-image
              .occupation
                %span
                  エンジニア
              .catch-copy
                %h1
                  今挑戦するからこそ、将来価値のある人材に成長するエンジニア採用
              .sentence
                %p
                  エンジニア（フロントエンド） ◎業務内容 ・THEO および、関連するサービスのWeb フロントエンドの構築 ・Vue.js, React 等を使用した、SPA(Single Page Application) の実装 ・
              .profile-image
                = link_to image_tag("#", alt: "image", height: "50px"), root_path
              .company-name
                %p
                  株式会社お金のデザイン
              .action
                .date
                  %i.fa.fa-clock-o
                  %p
                    29日前
                .icon
                  = link_to root_path do
                    %i.fa.fa-bookmark-o
                  = link_to root_path do
                    %i.fa.fa-bullhorn
            .contents__main__right__item__category
              .cover-image
              .occupation
                %span
                  エンジニア
              .catch-copy
                %h1
                  今挑戦するからこそ、将来価値のある人材に成長するエンジニア採用
              .sentence
                %p
                  エンジニア（フロントエンド） ◎業務内容 ・THEO および、関連するサービスのWeb フロントエンドの構築 ・Vue.js, React 等を使用した、SPA(Single Page Application) の実装 ・
              .profile-image
                = link_to image_tag("#", alt: "image", height: "50px"), root_path
              .company-name
                %p
                  株式会社お金のデザイン
              .action
                .date
                  %i.fa.fa-clock-o
                  %p
                    29日前
                .icon
                  = link_to root_path do
                    %i.fa.fa-bookmark-o
                  = link_to root_path do
                    %i.fa.fa-bullhorn
          .contents__main__right__order
            %ul
              %li
                1
              %li
                2
              %li
                3
              %li
                4
              %li
                5
              %li
                …
            %p
              次へ
    = render 'shared/footer'
